@font-face {
  font-family: "Satoshi-Variable";
  src: url("/fonts/Satoshi-Variable.woff2") format("woff2"), url("/fonts/Satoshi-Variable.woff") format("woff"), url("/fonts/Satoshi-Variable.ttf") format("truetype");
  font-weight: 300 900;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: "Satoshi-VariableItalic";
  src: url("/fonts/Satoshi-VariableItalic.woff2") format("woff2"), url("/fonts/Satoshi-VariableItalic.woff") format("woff"), url("/fonts/Satoshi-VariableItalic.ttf") format("truetype");
  font-weight: 300 900;
  font-display: swap;
  font-style: italic;
}
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  user-select: none;
}

html {
  width: 100%;
  min-height: 100vh;
  scroll-behavior: smooth;
}

::-webkit-scrollbar {
  display: none;
}

body {
  min-height: 100vh;
  font-family: "Satoshi-Variable", sans-serif;
  font-size: 16px;
}

body:has(.mobile-menu.open) {
  overflow: hidden;
}

.container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.light-theme .container {
  background-color: #fbe4d8;
  color: #391E41;
}

.dark-theme .container {
  background-color: #190019;
  color: #fbe4d8;
}

.header {
  min-height: 72px;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  align-items: center;
  padding: 0 24px;
}
.header .logo {
  font-size: 24px;
  font-weight: 800;
  justify-self: flex-start;
  cursor: pointer;
}
.header .button {
  justify-self: flex-end;
}

.nav {
  display: flex;
  align-items: center;
  justify-content: center;
}

.nav-list {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 40px;
  list-style: none;
  padding: 20px;
}

.nav-item {
  cursor: pointer;
}
.nav-item .nav-link {
  text-decoration: none;
  font-weight: 500;
}
.nav-item .nav-link--active {
  font-weight: 500;
  cursor: default;
}

.mobile-menu-button {
  display: none;
}

.mobile-menu {
  display: none;
}

@media screen and (max-width: 768px) {
  .header {
    grid-template-columns: 1fr 1fr;
    justify-items: flex-end;
  }
  .header button.button {
    display: none;
  }
  .nav {
    display: none;
  }
  .mobile-menu-button {
    width: 36px;
    height: 36px;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 20px;
  }
  .mobile-menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 60px;
    padding: 26px 30px;
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    height: 100vh;
    z-index: 100;
    transform: translate(-100%);
    transition: transform 0.3s ease-in-out;
  }
  .mobile-menu-close-button {
    align-self: flex-end;
    cursor: pointer;
    font-size: 20px;
  }
  .mobile-menu-logo {
    font-size: 24px;
    font-weight: 800;
    cursor: pointer;
  }
  .mobile-menu-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    list-style: none;
  }
  .mobile-menu-list-item {
    cursor: pointer;
  }
  .mobile-menu-list-item .menu-list-link {
    text-decoration: none;
    font-weight: 500;
  }
  .mobile-menu-list-item .menu-list-link--active {
    text-decoration: none;
    font-weight: 500;
    cursor: default;
  }
  .open {
    transform: translate(0);
  }
}
.light-theme .header .logo mark {
  background: none;
  color: #190019;
}
.light-theme .nav-link {
  color: #391E41;
}
.light-theme .nav-link:hover {
  color: #190019;
}
.light-theme .nav-link--active:hover {
  color: #391E41;
}
.light-theme .mobile-menu {
  background: #fbe4d8;
  color: #391E41;
}
.light-theme .mobile-menu-logo mark {
  background: none;
  color: #190019;
}
.light-theme .mobile-menu .menu-list-link {
  color: #391E41;
}
.light-theme .mobile-menu .menu-list-link:hover {
  color: #190019;
}
.light-theme .mobile-menu .menu-list-link--active:hover {
  color: #391E41;
}

.dark-theme .header .logo mark {
  background: none;
  color: #dfb6b2;
}
.dark-theme .nav-link {
  color: #fbe4d8;
}
.dark-theme .nav-link:hover {
  color: #dfb6b2;
}
.dark-theme .nav-link--active:hover {
  color: #fbe4d8;
}
.dark-theme .mobile-menu {
  background: #190019;
  color: #fbe4d8;
}
.dark-theme .mobile-menu-logo mark {
  background: none;
  color: #dfb6b2;
}
.dark-theme .mobile-menu .menu-list-link {
  color: #fbe4d8;
}
.dark-theme .mobile-menu .menu-list-link:hover {
  color: #dfb6b2;
}
.dark-theme .mobile-menu .menu-list-link--active:hover {
  color: #fbe4d8;
}

.button {
  height: 38px;
  width: fit-content;
  padding: 0 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 32px;
  cursor: pointer;
  font-size: 14px;
  font-weight: 700;
  font-family: inherit;
  border: none;
}
.button:has(.button-image) {
  padding: 0;
  width: 38px;
  border-radius: 50%;
}

.button-image {
  width: 100%;
  border-radius: 50%;
}
.button-image:hover {
  filter: brightness(0.8);
}

.light-theme .button {
  color: #dfb6b2;
  background-color: #391E41;
}
.light-theme .button:hover {
  background-color: #190019;
}
.light-theme .button--bordered {
  color: #391E41;
  background-color: #fbe4d8;
  outline: 2px solid #391E41;
}
.light-theme .button--bordered:hover {
  background-color: #dfb6b2;
}

.dark-theme .button {
  color: #1F1023;
  background-color: #fbe4d8;
}
.dark-theme .button:hover {
  background-color: #dfb6b2;
}
.dark-theme .button--bordered {
  color: #fbe4d8;
  background-color: #190019;
  outline: 2px solid #fbe4d8;
}
.dark-theme .button--bordered:hover {
  background-color: #391E41;
}

.input-group {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.input-group.error .input-error {
  display: block;
}
.input-group.error .input-text {
  border-color: #be0000;
}
.input-group.error .input-text:focus {
  border-color: #7c0101;
}

.input-error {
  display: none;
  color: #be0000;
  font-size: 14px;
  font-weight: 600;
}

.input-text {
  width: 100%;
  padding: 8px 12px;
  font-family: inherit;
  font-size: 16px;
  border-radius: 8px;
}
@media screen and (max-width: 576px) {
  .input-text {
    font-size: 14px;
  }
}
.input-text.input-text-area {
  resize: none;
  height: 100px;
}
.input-text-label {
  font-size: 16px;
  font-weight: 600;
}
.input-text-label.hidden {
  display: none;
}
@media screen and (max-width: 576px) {
  .input-text-label {
    font-size: 14px;
  }
}

.input-file {
  display: none;
}
.input-file-label {
  width: 100%;
  height: 100px;
  font-size: 16px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 8px;
  cursor: pointer;
}
@media screen and (max-width: 576px) {
  .input-file-label {
    font-size: 14px;
  }
}
.input-file-label-text {
  font-size: 12px;
  font-weight: 600;
}
.input-file-preview {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 8px;
}
.input-file-preview-img {
  width: 75px;
  height: 75px;
  object-fit: cover;
  border-radius: 8px;
}

.light-theme .input-text {
  background-color: #dfb6b2;
  color: #391E41;
  border: 1px solid #391E41;
}
.light-theme .input-text::placeholder {
  color: #190019;
}
.light-theme .input-text:focus {
  outline: none;
  border-color: #854f6c;
}
.light-theme .input-file-label {
  background-color: #dfb6b2;
  color: #391E41;
  border: 1px solid #391E41;
}
.light-theme .input-file-label:hover {
  background-color: #dfb6b2;
}

.dark-theme .input-text {
  background-color: #1F1023;
  color: #fbe4d8;
  border: 1px solid #fbe4d8;
}
.dark-theme .input-text::placeholder {
  color: #dfb6b2;
}
.dark-theme .input-text:focus {
  outline: none;
  border-color: #854f6c;
}
.dark-theme .input-file-label {
  background-color: #1F1023;
  color: #fbe4d8;
  border: 1px solid #fbe4d8;
}
.dark-theme .input-file-label:hover {
  background-color: #391E41;
}

.main-content {
  width: 100%;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.footer {
  min-height: 70px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.footer-container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 32px 12px 12px 12px;
}
@media screen and (max-width: 768px) {
  .footer-container {
    padding: 12px;
  }
}
.footer-logo {
  flex: 0 0 250px;
  margin-bottom: 32px;
}
@media screen and (max-width: 768px) {
  .footer-logo {
    margin-bottom: 12px;
  }
}
.footer-logo-link {
  text-decoration: none;
}
.footer-logo .logo {
  font-size: 24px;
  font-weight: 800;
  cursor: pointer;
}
.footer-nav {
  display: flex;
  flex: 2 1 auto;
  flex-wrap: wrap;
}
@media screen and (max-width: 768px) {
  .footer-nav {
    flex-direction: column;
  }
}
.footer-column {
  flex: 1 0 auto;
  padding: 0 12px 24px 0;
}
@media screen and (max-width: 768px) {
  .footer-column {
    padding: 0 12px 12px 0;
  }
}
.footer-column-title {
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 12px;
}
@media screen and (max-width: 768px) {
  .footer-column-title {
    margin-bottom: 4px;
  }
}
.footer-column-list {
  list-style: none;
}
@media screen and (max-width: 768px) {
  .footer-column-list {
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
  }
}
.footer-column-link {
  text-decoration: none;
  font-size: 14px;
}
.footer-copyright {
  flex: 1 1 200px;
  display: flex;
  flex-direction: column;
  gap: 12px;
}
.footer-copyright-info {
  margin-top: auto;
  margin-bottom: 24px;
  font-size: 12px;
}
.footer-buttons {
  display: flex;
  list-style: none;
  gap: 12px;
}
.footer-button {
  border: none;
  background: none;
  font-size: 16px;
  cursor: pointer;
}

.dark-theme .fa-sun,
.light-theme .fa-moon {
  display: none;
}

.light-theme .footer {
  background-color: #dfb6b2;
}
.light-theme .footer-logo .logo {
  color: #391E41;
}
.light-theme .footer-logo .logo mark {
  background: none;
  color: #190019;
}
.light-theme .footer-column-link {
  color: #190019;
}
.light-theme .footer-column-link:hover {
  color: #391E41;
}
.light-theme .footer-copyright {
  color: #190019;
}
.light-theme .footer-link {
  color: #190019;
}
.light-theme .footer-link:hover {
  color: #391E41;
}
.light-theme .footer-button {
  color: #391E41;
}

.dark-theme .footer {
  background-color: #1F1023;
}
.dark-theme .footer-logo .logo {
  color: #fbe4d8;
}
.dark-theme .footer-logo .logo mark {
  background: none;
  color: #dfb6b2;
}
.dark-theme .footer-column-link {
  color: #dfb6b2;
}
.dark-theme .footer-column-link:hover {
  color: #fbe4d8;
}
.dark-theme .footer-copyright {
  color: #dfb6b2;
}
.dark-theme .footer-link {
  color: #dfb6b2;
}
.dark-theme .footer-link:hover {
  color: #fbe4d8;
}
.dark-theme .footer-button {
  color: #fbe4d8;
}

.search-form {
  width: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
@media screen and (max-width: 576px) {
  .search-form {
    width: 100%;
    padding: 0 10px;
    gap: 10px;
  }
}
.search-input {
  padding: 8px 12px;
  flex-grow: 1;
  border-radius: 8px;
  font-size: 16px;
  font: inherit;
}
@media screen and (max-width: 576px) {
  .search-input {
    padding: 6px 10px;
    font-size: 14px;
  }
}
.search-button {
  width: fit-content;
  padding: 8px 16px;
  border-radius: 32px;
  font-size: 16px;
  font: inherit;
  cursor: pointer;
  border: none;
}
@media screen and (max-width: 576px) {
  .search-button {
    padding: 6px 12px;
    font-size: 14px;
  }
}

.light-theme .search-input {
  border: 2px solid #391E41;
  color: #391E41;
  background-color: #dfb6b2;
}
.light-theme .search-input::placeholder {
  color: #190019;
}
.light-theme .search-input:focus {
  outline: none;
  border-color: #854f6c;
}
.light-theme .search-button {
  outline: 2px solid #391E41;
  background-color: #dfb6b2;
  color: #391E41;
}
.light-theme .search-button:hover {
  background-color: #dfb6b2;
}

.dark-theme .search-input {
  border: 2px solid #fbe4d8;
  color: #fbe4d8;
  background-color: #1F1023;
}
.dark-theme .search-input::placeholder {
  color: #dfb6b2;
}
.dark-theme .search-input:focus {
  outline: none;
  border-color: #854f6c;
}
.dark-theme .search-button {
  outline: 2px solid #fbe4d8;
  background-color: #1F1023;
  color: #fbe4d8;
}
.dark-theme .search-button:hover {
  background-color: #391E41;
}

.input-select {
  position: relative;
  font-size: 16px;
}
@media screen and (max-width: 576px) {
  .input-select {
    font-size: 14px;
  }
}
.input-select select {
  display: none;
}

.select-selected:after {
  position: absolute;
  content: "";
  top: 18px;
  right: 10px;
  width: 0;
  height: 0;
  border: 6px solid transparent;
}
@media screen and (max-width: 576px) {
  .select-selected:after {
    top: 14px;
    right: 8px;
    border-width: 5px;
  }
}

.select-selected.select-arrow-active:after {
  top: 7px;
}

.select-items div,
.select-selected {
  padding: 8px 12px;
  cursor: pointer;
  user-select: none;
}
@media screen and (max-width: 576px) {
  .select-items div,
  .select-selected {
    padding: 6px 10px;
  }
}

.select-selected {
  border-radius: 8px;
  border: 1px solid;
}

.select-selected.select-arrow-active {
  border-radius: 8px 8px 0 0;
}

.select-items {
  position: absolute;
  border-radius: 0 0 8px 8px;
  border: 1px solid;
  max-height: 150px;
  overflow: auto;
  top: 100%;
  left: 0;
  right: 0;
  z-index: 99;
}

.select-hide {
  display: none;
}

.light-theme .select-selected {
  background-color: #dfb6b2;
  color: #391E41;
  border-color: #391E41;
}
.light-theme .select-selected:hover {
  background-color: #dfb6b2;
}
.light-theme .select-selected:after {
  border-color: #391E41 transparent transparent transparent;
}
.light-theme .select-selected.select-arrow-active:after {
  border-color: transparent transparent #391E41 transparent;
}
.light-theme .select-items div,
.light-theme .select-selected {
  color: #391E41;
}
.light-theme .select-selected.select-arrow-active {
  border-color: #391E41 #391E41 transparent #391E41;
}
.light-theme .select-items {
  background-color: #dfb6b2;
  border-color: transparent #391E41 #391E41 #391E41;
}
.light-theme .select-items div:hover,
.light-theme .same-as-selected {
  background-color: #dfb6b2;
}

.dark-theme .select-selected {
  background-color: #1F1023;
  color: #fbe4d8;
  border-color: #fbe4d8;
}
.dark-theme .select-selected:hover {
  background-color: #391E41;
}
.dark-theme .select-selected:after {
  border-color: #fbe4d8 transparent transparent transparent;
}
.dark-theme .select-selected.select-arrow-active:after {
  border-color: transparent transparent #fbe4d8 transparent;
}
.dark-theme .select-items div,
.dark-theme .select-selected {
  color: #fbe4d8;
}
.dark-theme .select-selected.select-arrow-active {
  border-color: #fbe4d8 #fbe4d8 transparent #fbe4d8;
}
.dark-theme .select-items {
  background-color: #1F1023;
  border-color: transparent #fbe4d8 #fbe4d8 #fbe4d8;
}
.dark-theme .select-items div:hover,
.dark-theme .same-as-selected {
  background-color: #391E41;
}

@keyframes slideInAndOut {
  0% {
    top: -100%;
  }
  10% {
    top: 10px;
  }
  90% {
    top: 10px;
  }
  100% {
    top: -100%;
  }
}
.alert {
  position: fixed;
  top: 10px;
  left: 50%;
  transform: translateX(-50%);
  font-size: 20px;
  font-weight: 500;
  padding: 10px 16px;
  border-radius: 8px;
  z-index: 1000;
  animation: slideInAndOut 3s ease-in-out 1 forwards;
}

.light-theme .alert {
  background-color: #dfb6b2;
  color: #391E41;
}

.dark-theme .alert {
  background-color: #1F1023;
  color: #fbe4d8;
}

/*# sourceMappingURL=index.css.map */
