@import "../boilerplate/theme";

.footer {
    min-height: 70px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    padding: 20px 0;

    &-copyright {
        font-size: $font-size-sm;
    }

    &-link {
        font-size: $font-size-sm;
        text-decoration: none;
    }
}

@include themify($themes) {
    .footer {
        background-color: themed($card-bg);

        &-copyright {
            color: themed($text-secondary);
        }

        &-link {
            color: themed($text-secondary);

            &:hover {
                color: themed($text);
            }
        }
    }
}
