@import "../boilerplate/theme";

.header {
  min-height: 72px;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  align-items: center;
  padding: 0 24px;

  .logo {
    font-size: $font-size-xl;
    font-weight: 800;
    justify-self: flex-start;

    &--clickable {
      cursor: pointer;
    }
  }

  .button {
    justify-self: flex-end;
  }
}

.nav {
  display: flex;
  align-items: center;
  justify-content: center;
}

.nav-list {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 40px;
  list-style: none;
  padding: 20px;
}

.nav-item {
  cursor: pointer;

  .nav-link {
    text-decoration: none;
    font-weight: 500;

    &--active {
      font-weight: 500;
      cursor: default;
    }
  }
}

@include themify($themes) {
  .header .logo {
    mark {
      background: none;
      color: themed($text-secondary);
    }
  }

  .nav-link {
    color: themed($text);

    &:hover {
      color: themed($text-secondary);
    }

    &--active:hover {
      color: themed($text);
    }
  }
}
