@import "../boilerplate/theme.scss";

.input-text-label {
    font-size: $font-size-md;

    &.hidden {
        display: none;
    }
}

.input-text {
    width: 100%;
    padding: 8px 12px;
    font-size: $font-size-md;
    border-radius: 8px;
}

@include themify($themes) {
    .input-text {
        font-size: $font-size-md;
        background-color: themed($card-bg);
        color: themed($text);
        border: 1px solid themed($border);

        &::placeholder {
            color: themed($text-secondary);
        }
    
        &:focus {
            outline: none;
            border-color: themed($link);
        }
    }
}