@import "../boilerplate/theme";

.input-text-label {
    font-size: $font-size-md;

    &.hidden {
        display: none;
    }

    @media screen and (max-width: $breakpoint-sm){
        font-size: $font-size-sm;
    }
}

.input-text {
    width: 100%;
    padding: 8px 12px;
    font-size: $font-size-md;
    border-radius: 8px;

    &::placeholder {
        color: $text-secondary;
    }

    @media screen and (max-width: $breakpoint-sm){
        font-size: $font-size-sm;
    }
}

.input-file {
    display: none;
}

.input-file-label {
    width: 100%;
    height: 100px;
    font-size: $font-size-md;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
    cursor: pointer;

    @media screen and (max-width: $breakpoint-sm){
        font-size: $font-size-sm;
    }
}

.plus-svg {
    width: $font-size-md;
    height: $font-size-md;
    cursor: pointer;

    @media screen and (max-width: $breakpoint-sm){
        font-size: $font-size-sm;
    }
}

.input-file-label-text {
    font-size: $font-size-xs;
    font-weight: 600;
}

.input-file-preview {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 8px;
}

.input-file-preview-img {
    width: 75px;
    height: 75px;
    object-fit: cover;
    border-radius: 8px;
}

@include themify($themes) {
    .input-text {
        font-size: $font-size-md;
        background-color: themed($card-bg);
        color: themed($text);
        border: 1px solid themed($border);

        &::placeholder {
            color: themed($text-secondary);
        }

        &:focus {
            outline: none;
            border-color: themed($link);
        }
    }

    .input-file-label {
        background-color: themed($card-bg);
        color: themed($text);
        border: 1px solid themed($border);

        &:hover {
            background-color: themed($hover);
        }
        
    }

    .plus-svg {
        fill: themed($text);
    }
}
