@import "colors";

// Font stack
$primary-font: "Satoshi-Variable", sans-serif;

// Font sizes
$font-size-hg: 80px;
$font-size-xxl: 48px;
$font-size-xl: 24px;
$font-size-lg: 20px;
$font-size-md: 16px;
$font-size-sm: 14px;
$font-size-xs: 12px;

// Breakpoints
$breakpoint-sm: 576px;
$breakpoint-md: 768px;
$breakpoint-lg: 992px;
$breakpoint-xl: 1200px;


// Common colors
$error: #be0000;
$error-focussed: #7c0101;