@font-face {
  font-family: "Satoshi-Variable";
  src: url("../../fonts/Satoshi-Variable.woff2") format("woff2"), url("../../fonts/Satoshi-Variable.woff") format("woff"), url("../../fonts/Satoshi-Variable.ttf") format("truetype");
  font-weight: 300 900;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: "Satoshi-VariableItalic";
  src: url("../../fonts/Satoshi-VariableItalic.woff2") format("woff2"), url("../../fonts/Satoshi-VariableItalic.woff") format("woff"), url("../../fonts/Satoshi-VariableItalic.ttf") format("truetype");
  font-weight: 300 900;
  font-display: swap;
  font-style: italic;
}
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  user-select: none;
}

html {
  width: 100%;
  min-height: 100vh;
}

::-webkit-scrollbar {
  display: none;
}

body {
  min-height: 100vh;
  font-family: "Satoshi-Variable", sans-serif;
  font-size: 16px;
}

body:has(.mobile-menu.open) {
  overflow: hidden;
}

.container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.light-theme .container {
  background-color: #fbe4d8;
  color: #391E41;
}

.dark-theme .container {
  background-color: #190019;
  color: #fbe4d8;
}

.header {
  min-height: 72px;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  align-items: center;
  padding: 0 24px;
}
.header .logo {
  font-size: 24px;
  font-weight: 800;
  justify-self: flex-start;
}
.header .logo--clickable {
  cursor: pointer;
}
.header .button {
  justify-self: flex-end;
}

.nav {
  display: flex;
  align-items: center;
  justify-content: center;
}

.nav-list {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 40px;
  list-style: none;
  padding: 20px;
}

.nav-item {
  cursor: pointer;
}
.nav-item .nav-link {
  text-decoration: none;
  font-weight: 500;
}
.nav-item .nav-link--active {
  font-weight: 500;
  cursor: default;
}

.mobile-menu-button {
  display: none;
}

.mobile-menu {
  display: none;
}

@media screen and (max-width: 768px) {
  .header {
    grid-template-columns: 1fr 1fr;
    justify-items: flex-end;
  }
  .header button.button {
    display: none;
  }
  .nav {
    display: none;
  }
  .mobile-menu-button {
    width: 36px;
    height: 36px;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 20px;
  }
  .mobile-menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 60px;
    padding: 26px 30px;
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    height: 100vh;
    z-index: 100;
    transform: translate(-100%);
    transition: transform 0.3s ease-in-out;
  }
  .mobile-menu-close-button {
    align-self: flex-end;
    cursor: pointer;
    font-size: 20px;
  }
  .mobile-menu-logo {
    font-size: 24px;
    font-weight: 800;
    cursor: pointer;
  }
  .mobile-menu-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    list-style: none;
  }
  .mobile-menu-list-item {
    cursor: pointer;
  }
  .mobile-menu-list-item .menu-list-link {
    text-decoration: none;
    font-weight: 500;
  }
  .mobile-menu-list-item .menu-list-link--active {
    text-decoration: none;
    font-weight: 500;
    cursor: default;
  }
  .open {
    transform: translate(0);
  }
}
.light-theme .header .logo mark {
  background: none;
  color: #190019;
}
.light-theme .nav-link {
  color: #391E41;
}
.light-theme .nav-link:hover {
  color: #190019;
}
.light-theme .nav-link--active:hover {
  color: #391E41;
}
.light-theme .mobile-menu {
  background: #fbe4d8;
  color: #391E41;
}
.light-theme .mobile-menu-logo mark {
  background: none;
  color: #190019;
}
.light-theme .mobile-menu .menu-list-link {
  color: #391E41;
}
.light-theme .mobile-menu .menu-list-link:hover {
  color: #190019;
}
.light-theme .mobile-menu .menu-list-link--active:hover {
  color: #391E41;
}

.dark-theme .header .logo mark {
  background: none;
  color: #dfb6b2;
}
.dark-theme .nav-link {
  color: #fbe4d8;
}
.dark-theme .nav-link:hover {
  color: #dfb6b2;
}
.dark-theme .nav-link--active:hover {
  color: #fbe4d8;
}
.dark-theme .mobile-menu {
  background: #190019;
  color: #fbe4d8;
}
.dark-theme .mobile-menu-logo mark {
  background: none;
  color: #dfb6b2;
}
.dark-theme .mobile-menu .menu-list-link {
  color: #fbe4d8;
}
.dark-theme .mobile-menu .menu-list-link:hover {
  color: #dfb6b2;
}
.dark-theme .mobile-menu .menu-list-link--active:hover {
  color: #fbe4d8;
}

.button {
  height: 38px;
  width: fit-content;
  padding: 0 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 32px;
  cursor: pointer;
  font-size: 14px;
  font-weight: 500;
  font: inherit;
  border: none;
}

.light-theme .button {
  color: #dfb6b2;
  background-color: #391E41;
}
.light-theme .button:hover {
  background-color: #190019;
}
.light-theme .button--bordered {
  color: #391E41;
  background-color: #fbe4d8;
  outline: 2px solid #391E41;
}
.light-theme .button--bordered:hover {
  background-color: #dfb6b2;
}

.dark-theme .button {
  color: #1F1023;
  background-color: #fbe4d8;
}
.dark-theme .button:hover {
  background-color: #dfb6b2;
}
.dark-theme .button--bordered {
  color: #fbe4d8;
  background-color: #190019;
  outline: 2px solid #fbe4d8;
}
.dark-theme .button--bordered:hover {
  background-color: #391E41;
}

.input-text-label {
  font-size: 16px;
}
.input-text-label.hidden {
  display: none;
}
@media screen and (max-width: 576px) {
  .input-text-label {
    font-size: 14px;
  }
}

.input-text {
  width: 100%;
  padding: 8px 12px;
  font: inherit;
  font-size: 16px;
  border-radius: 8px;
}
@media screen and (max-width: 576px) {
  .input-text {
    font-size: 14px;
  }
}

.input-file {
  display: none;
}

.input-file-label {
  width: 100%;
  height: 100px;
  font-size: 16px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 8px;
  cursor: pointer;
}
@media screen and (max-width: 576px) {
  .input-file-label {
    font-size: 14px;
  }
}

.plus-svg {
  width: 16px;
  height: 16px;
  cursor: pointer;
}
@media screen and (max-width: 576px) {
  .plus-svg {
    font-size: 14px;
  }
}

.input-file-label-text {
  font-size: 12px;
  font-weight: 600;
}

.input-file-preview {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 8px;
}

.input-file-preview-img {
  width: 75px;
  height: 75px;
  object-fit: cover;
  border-radius: 8px;
}

.light-theme .input-text {
  background-color: #dfb6b2;
  color: #391E41;
  border: 1px solid #391E41;
}
.light-theme .input-text::placeholder {
  color: #190019;
}
.light-theme .input-text:focus {
  outline: none;
  border-color: #854f6c;
}
.light-theme .input-file-label {
  background-color: #dfb6b2;
  color: #391E41;
  border: 1px solid #391E41;
}
.light-theme .input-file-label:hover {
  background-color: #dfb6b2;
}
.light-theme .plus-svg {
  fill: #391E41;
}

.dark-theme .input-text {
  background-color: #1F1023;
  color: #fbe4d8;
  border: 1px solid #fbe4d8;
}
.dark-theme .input-text::placeholder {
  color: #dfb6b2;
}
.dark-theme .input-text:focus {
  outline: none;
  border-color: #854f6c;
}
.dark-theme .input-file-label {
  background-color: #1F1023;
  color: #fbe4d8;
  border: 1px solid #fbe4d8;
}
.dark-theme .input-file-label:hover {
  background-color: #391E41;
}
.dark-theme .plus-svg {
  fill: #fbe4d8;
}

.main-content {
  width: 100%;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.footer {
  min-height: 70px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.footer .footer-copyright {
  font-size: 14px;
}

.light-theme .footer {
  background-color: #dfb6b2;
}
.light-theme .footer .footer-copyright {
  color: #190019;
}

.dark-theme .footer {
  background-color: #1F1023;
}
.dark-theme .footer .footer-copyright {
  color: #dfb6b2;
}

.search-form {
  width: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
@media screen and (max-width: 576px) {
  .search-form {
    width: 100%;
    padding: 0 10px;
    gap: 10px;
  }
}
.search-input {
  padding: 8px 12px;
  flex-grow: 1;
  border-radius: 8px;
  font-size: 16px;
  font: inherit;
}
@media screen and (max-width: 576px) {
  .search-input {
    padding: 6px 10px;
    font-size: 14px;
  }
}
.search-button {
  width: fit-content;
  padding: 8px 16px;
  border-radius: 32px;
  font-size: 16px;
  font: inherit;
  cursor: pointer;
  border: none;
}
@media screen and (max-width: 576px) {
  .search-button {
    padding: 6px 12px;
    font-size: 14px;
  }
}

.light-theme .search-input {
  border: 2px solid #391E41;
  color: #391E41;
  background-color: #dfb6b2;
}
.light-theme .search-input::placeholder {
  color: #190019;
}
.light-theme .search-input:focus {
  outline: none;
  border-color: #854f6c;
}
.light-theme .search-button {
  outline: 2px solid #391E41;
  background-color: #dfb6b2;
  color: #391E41;
}
.light-theme .search-button:hover {
  background-color: #dfb6b2;
}

.dark-theme .search-input {
  border: 2px solid #fbe4d8;
  color: #fbe4d8;
  background-color: #1F1023;
}
.dark-theme .search-input::placeholder {
  color: #dfb6b2;
}
.dark-theme .search-input:focus {
  outline: none;
  border-color: #854f6c;
}
.dark-theme .search-button {
  outline: 2px solid #fbe4d8;
  background-color: #1F1023;
  color: #fbe4d8;
}
.dark-theme .search-button:hover {
  background-color: #391E41;
}

/*# sourceMappingURL=index.css.map */
