<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Book Reviewer</title>
        <link
            rel="apple-touch-icon"
            sizes="180x180"
            href="/public/apple-touch-icon.png"
        />
        <link
            rel="icon"
            type="image/png"
            sizes="32x32"
            href="/public/favicon-32x32.png"
        />
        <link
            rel="icon"
            type="image/png"
            sizes="16x16"
            href="/public/favicon-16x16.png"
        />
        <link rel="manifest" href="/public/site.webmanifest" />
        <link rel="stylesheet" href="/styles/layout/index.css" />
        <link
            rel="stylesheet"
            href="/styles/modules/groups/search-group/index.css"
        />
        <script
            src="https://kit.fontawesome.com/3811cdfa76.js"
            crossorigin="anonymous"
        ></script>
    </head>
    <body class="dark-theme">
        <div class="mobile-menu">
            <span class="fa-solid fa-x mobile-menu-close-button"></span>
            <span
                class="mobile-menu-logo"
                onclick="handleNavigate('/')"
                >Book<mark>Reviewer</mark></span
            >
            <ul class="mobile-menu-list">
                <li class="mobile-menu-list-item">
                    <a href="/" class="menu-list-link">Home</a>
                </li>
                <li class="mobile-menu-list-item">
                    <a href="/about" class="menu-list-link">About</a>
                </li>
                <li class="mobile-menu-list-item">
                    <a href="/books" class="menu-list-link">Books</a>
                </li>
                <li class="mobile-menu-list-item">
                    <p class="menu-list-link--active">Groups</p>
                </li>
                <li class="mobile-menu-list-item">
                    <a href="/login" class="menu-list-link">Login</a>
                </li>
            </ul>
        </div>
        <div class="container">
            <header class="header">
                <span
                    class="logo logo--clickable"
                    onclick="handleNavigate('/')"
                >
                    Book<mark>Reviewer</mark>
                </span>
                <nav class="nav">
                    <ul class="nav-list">
                        <li class="nav-item">
                            <a href="/" class="nav-link">Home</a>
                        </li>
                        <li class="nav-item">
                            <a href="/about" class="nav-link">About</a>
                        </li>
                        <li class="nav-item">
                            <a href="/books" class="nav-link">Books</a>
                        </li>
                        <li class="nav-item">
                            <p class="nav-link--active">Groups</p>
                        </li>
                    </ul>
                </nav>
                <button
                    id="button--login"
                    class="button button--bordered"
                    onclick="handleNavigate('/login')"
                >
                    Login
                </button>
                <div class="mobile-menu-button">
                    <span class="fa fa-bars"></span>
                </div>
            </header>
            <main class="main-content">
                <form action="" class="search-form">
                    <input
                        type="text"
                        class="search-input"
                        placeholder="Search groups"
                    />
                    <button class="search-button">
                        <span class="fa-solid fa-search"></span>
                    </button>
                </form>
                <div class="groups-container">
                    <div class="group-card" onclick="handleNavigate('/groups/BookFans')">
                        <img src="/assets/group.png" alt="" class="group-card-image" />
                        <div class="group-card-text-container">
                            <h3 class="group-card-title">Group</h3>
                            <p class="group-card-members-count">Members: 10</p>
                            <p class="group-card-description">
                                Lorem ipsum dolor, sit amet consectetur
                                adipisicing elit. Neque minima qui tempora,
                                pariatur dicta laboriosam ducimus atque ut saepe
                                repellendus voluptate alias adipisci deleniti
                                quae reiciendis nemo accusamus similique hic
                                amet, temporibus recusandae sed. Suscipit ut
                                iusto dolorum eligendi accusantium quas
                                recusandae odit nostrum. Dolorem, ex asperiores,
                                quidem fuga aperiam nisi vel totam fugit eaque
                                eveniet modi quas architecto reprehenderit quo
                                voluptatibus expedita laborum magnam. Ea
                                tempore, impedit excepturi dolor culpa qui
                                expedita modi iure explicabo quaerat cum
                                similique, provident ab a nobis. Molestiae nam
                                dolorum, ducimus eius vitae quis beatae harum,
                                esse commodi maiores nesciunt asperiores
                                similique, quo nemo.
                            </p>
                        </div>
                    </div>
                    <div class="group-card" onclick="handleNavigate('/groups/BookFans')">
                        <img src="/assets/group.png" alt="" class="group-card-image" />
                        <div class="group-card-text-container">
                            <h3 class="group-card-title">Group</h3>
                            <p class="group-card-members-count">Members: 10</p>
                            <p class="group-card-description">
                                Lorem ipsum dolor, sit amet consectetur
                                adipisicing elit. Neque minima qui tempora,
                                pariatur dicta laboriosam ducimus atque ut saepe
                                repellendus voluptate alias adipisci deleniti
                                quae reiciendis nemo accusamus similique hic
                                amet, temporibus recusandae sed. Suscipit ut
                                iusto dolorum eligendi accusantium quas
                                recusandae odit nostrum. Dolorem, ex asperiores,
                                quidem fuga aperiam nisi vel totam fugit eaque
                                eveniet modi quas architecto reprehenderit quo
                                voluptatibus expedita laborum magnam. Ea
                                tempore, impedit excepturi dolor culpa qui
                                expedita modi iure explicabo quaerat cum
                                similique, provident ab a nobis. Molestiae nam
                                dolorum, ducimus eius vitae quis beatae harum,
                                esse commodi maiores nesciunt asperiores
                                similique, quo nemo.
                            </p>
                        </div>
                    </div>
                    <div class="group-card" onclick="handleNavigate('/groups/BookFans')">
                        <img src="/assets/group.png" alt="" class="group-card-image" />
                        <div class="group-card-text-container">
                            <h3 class="group-card-title">Group</h3>
                            <p class="group-card-members-count">Members: 10</p>
                            <p class="group-card-description">
                                Lorem ipsum dolor, sit amet consectetur
                                adipisicing elit. Neque minima qui tempora,
                                pariatur dicta laboriosam ducimus atque ut saepe
                                repellendus voluptate alias adipisci deleniti
                                quae reiciendis nemo accusamus similique hic
                                amet, temporibus recusandae sed. Suscipit ut
                                iusto dolorum eligendi accusantium quas
                                recusandae odit nostrum. Dolorem, ex asperiores,
                                quidem fuga aperiam nisi vel totam fugit eaque
                                eveniet modi quas architecto reprehenderit quo
                                voluptatibus expedita laborum magnam. Ea
                                tempore, impedit excepturi dolor culpa qui
                                expedita modi iure explicabo quaerat cum
                                similique, provident ab a nobis. Molestiae nam
                                dolorum, ducimus eius vitae quis beatae harum,
                                esse commodi maiores nesciunt asperiores
                                similique, quo nemo.
                            </p>
                        </div>
                    </div>
                    <div class="group-card" onclick="handleNavigate('/groups/BookFans')">
                        <img src="/assets/group.png" alt="" class="group-card-image" />
                        <div class="group-card-text-container">
                            <h3 class="group-card-title">Group</h3>
                            <p class="group-card-members-count">Members: 10</p>
                            <p class="group-card-description">
                                Lorem ipsum dolor, sit amet consectetur
                                adipisicing elit. Neque minima qui tempora,
                                pariatur dicta laboriosam ducimus atque ut saepe
                                repellendus voluptate alias adipisci deleniti
                                quae reiciendis nemo accusamus similique hic
                                amet, temporibus recusandae sed. Suscipit ut
                                iusto dolorum eligendi accusantium quas
                                recusandae odit nostrum. Dolorem, ex asperiores,
                                quidem fuga aperiam nisi vel totam fugit eaque
                                eveniet modi quas architecto reprehenderit quo
                                voluptatibus expedita laborum magnam. Ea
                                tempore, impedit excepturi dolor culpa qui
                                expedita modi iure explicabo quaerat cum
                                similique, provident ab a nobis. Molestiae nam
                                dolorum, ducimus eius vitae quis beatae harum,
                                esse commodi maiores nesciunt asperiores
                                similique, quo nemo.
                            </p>
                        </div>
                    </div>
                </div>
            </main>
            <footer class="footer">
                <p class="footer-copyright">©2024 BookReviewer, Inc.</p>
                <a href="/about" class="footer-link">About us</a>
                <a href="/help" class="footer-link">Help</a>
            </footer>
        </div>
        <script src="/utils/handleNavigate.js"></script>
        <script src="/utils/handleOpenMenu.js"></script>
        <script src="/utils/handleTheme.js"></script>
    </body>
</html>
