<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Home - BookReviewer</title>
        <link
            rel="apple-touch-icon"
            sizes="180x180"
            href="/public/apple-touch-icon.png"
        />
        <link
            rel="icon"
            type="image/png"
            sizes="32x32"
            href="/public/favicon-32x32.png"
        />
        <link
            rel="icon"
            type="image/png"
            sizes="16x16"
            href="/public/favicon-16x16.png"
        />
        <link rel="manifest" href="/public/site.webmanifest" />
        <link rel="stylesheet" href="/styles/layout/index.css" />
        <link rel="stylesheet" href="/styles/modules/home/index.css" />
        <script
            src="https://kit.fontawesome.com/3811cdfa76.js"
            crossorigin="anonymous"
        ></script>
    </head>
    <body class="dark-theme">
        <div class="mobile-menu">
            <span class="fa-solid fa-x mobile-menu-close-button"></span>
            <span class="mobile-menu-logo" onclick="handleNavigate('/')"
                >Book<mark>Reviewer</mark></span
            >
            <ul class="mobile-menu-list">
                <li class="mobile-menu-list-item">
                    <p class="menu-list-link--active">Home</p>
                </li>
                <li class="mobile-menu-list-item">
                    <a href="/about" class="menu-list-link">About</a>
                </li>
                <li class="mobile-menu-list-item">
                    <a href="/books" class="menu-list-link">Books</a>
                </li>
                <li class="mobile-menu-list-item">
                    <a href="/groups" class="menu-list-link">Groups</a>
                </li>
                <li class="mobile-menu-list-item">
                    <a href="/login" class="menu-list-link">Login</a>
                </li>
            </ul>
        </div>
        <div class="container">
            <header class="header">
                <span class="logo" onclick="handleNavigate('/')"
                    >Book<mark>Reviewer</mark></span
                >
                <nav class="nav">
                    <ul class="nav-list">
                        <li class="nav-item">
                            <p class="nav-link--active">Home</p>
                        </li>
                        <li class="nav-item">
                            <a href="/about" class="nav-link">About</a>
                        </li>
                        <li class="nav-item">
                            <a href="/books" class="nav-link">Books</a>
                        </li>
                        <li class="nav-item">
                            <a href="/groups" class="nav-link">Groups</a>
                        </li>
                    </ul>
                </nav>
                <button
                    id="loginButton"
                    class="button button--bordered"
                ></button>
                <div class="mobile-menu-button">
                    <span class="fa fa-bars"></span>
                </div>
            </header>
            <main class="main-content">
                <section class="banner">
                    <div class="banner-text-wrapper">
                        <h1 class="banner-title">
                            Connect Read<br />
                            Share
                        </h1>
                        <p class="banner-subtitle">
                            Largest comunity of book lovers in the world with
                            over 50 million reviews.<br />
                            BookReviewer is a great place to promote your books.
                        </p>
                    </div>
                    <div class="banner-img-wrapper">
                        <div class="banner-img-bg"></div>
                        <img
                            src="/assets/book.png"
                            alt="Book"
                            class="banner-img"
                        />
                    </div>
                </section>
                <section class="news" id="news">
                    <h2 class="news-title">News</h2>
                    <div class="news-container">
                        <article class="article-card">
                            <div class="article-card-header">
                                <h3 class="article-card-title">
                                    The BookReviewer Reading Challenge
                                </h3>
                                <span class="article-card-date"
                                    >01-01-2024</span
                                >
                            </div>
                            <p class="acticle-card-content">
                                Lorem ipsum dolor sit amet, consectetur
                                adipiscing elit. Nulla nec purus feugiat,
                                molestie ipsum et, consequat nibh. Etiam non
                                elit dui.
                            </p>
                        </article>
                        <article class="article-card">
                            <div class="article-card-header">
                                <h3 class="article-card-title">
                                    The BookReviewer Reading Challenge
                                </h3>
                                <span class="article-card-date"
                                    >01-01-2024</span
                                >
                            </div>
                            <p class="acticle-card-content">
                                Lorem ipsum dolor sit amet, consectetur
                                adipiscing elit. Nulla nec purus feugiat,
                                molestie ipsum et, consequat nibh. Etiam non
                                elit dui.
                            </p>
                        </article>
                        <article class="article-card">
                            <div class="article-card-header">
                                <h3 class="article-card-title">
                                    The BookReviewer Reading Challenge
                                </h3>
                                <span class="article-card-date"
                                    >01-01-2024</span
                                >
                            </div>
                            <p class="acticle-card-content">
                                Lorem ipsum dolor sit amet, consectetur
                                adipiscing elit. Nulla nec purus feugiat,
                                molestie ipsum et, consequat nibh. Etiam non
                                elit dui.
                            </p>
                        </article>
                    </div>
                </section>
            </main>
            <footer class="footer">
                <div class="footer-container">
                    <div class="footer-logo">
                        <a href="/" class="footer-logo-link">
                            <span class="logo">Book<mark>Reviewer</mark></span>
                        </a>
                    </div>
                    <nav class="footer-nav">
                        <div class="footer-column">
                            <h5 class="footer-column-title">Explore</h5>
                            <ul class="footer-column-list">
                                <li>
                                    <a href="/books" class="footer-column-link"
                                        >Books</a
                                    >
                                </li>
                                <li>
                                    <a href="/groups" class="footer-column-link"
                                        >Groups</a
                                    >
                                </li>
                                <li>
                                    <a href="#news" class="footer-column-link"
                                        >News</a
                                    >
                                </li>
                            </ul>
                        </div>
                        <div class="footer-column">
                            <h5 class="footer-column-title">Info</h5>
                            <ul class="footer-column-list">
                                <li>
                                    <a href="/about" class="footer-column-link"
                                        >About</a
                                    >
                                </li>
                                <li>
                                    <a href="/help" class="footer-column-link"
                                        >Help</a
                                    >
                                </li>
                            </ul>
                        </div>
                        <div class="footer-column">
                            <h5 class="footer-column-title">Resources</h5>
                            <ul class="footer-column-list">
                                <li>
                                    <a
                                        href="/documentation"
                                        class="footer-column-link"
                                        >Documentation</a
                                    >
                                </li>
                                <li>
                                    <a
                                        href="/api/statistics/download"
                                        class="footer-column-link"
                                        >Statistics</a
                                    >
                                </li>
                            </ul>
                        </div>
                    </nav>
                    <div class="footer-copyright">
                        <ul class="footer-buttons">
                            <li>
                                <button class="footer-button" onclick="handleNavigate('/rss.xml')">
                                    <i class="fa-solid fa-rss"></i>
                                </button>
                            </li>
                            <li>
                                <button class="footer-button" onclick="toggleTheme()">
                                    <i
                                        class="fa-solid fa-moon"
                                        id="themeButtonIcon"
                                    ></i
                                    ><i
                                        class="fa-solid fa-sun"
                                        id="themeButtonIcon"
                                    ></i>
                                </button>
                            </li>
                        </ul>
                        <p class="footer-copyright-info">
                            &copy; 2024 BookReviewer. All rights reserved.
                        </p>
                    </div>
                </div>
            </footer>
        </div>
        <script src="/connections/headerButtonConnection.js"></script>
        <script src="/connections/news/newsConnection.js"></script>
        <script src="/utils/handleNavigate.js"></script>
        <script src="/utils/handleOpenMenu.js"></script>
        <script src="/utils/handleTheme.js"></script>
    </body>
</html>
