<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Login</title>
        <link
            rel="apple-touch-icon"
            sizes="180x180"
            href="/public/apple-touch-icon.png"
        />
        <link
            rel="icon"
            type="image/png"
            sizes="32x32"
            href="/public/favicon-32x32.png"
        />
        <link
            rel="icon"
            type="image/png"
            sizes="16x16"
            href="/public/favicon-16x16.png"
        />
        <link rel="manifest" href="/public/site.webmanifest" />
        <link rel="stylesheet" href="/styles/layout/index.css" />
        <link rel="stylesheet" href="/styles/modules/auth/index.css" />
    </head>
    <body class="dark-theme">
        <div class="container">
            <header class="header">
                <span
                    class="logo logo--clickable"
                    onclick="handleNavigate('/')"
                >
                    Book<mark>Reviewer</mark>
                </span>
            </header>
            <main class="main-content">
                <div class="auth-card">
                    <section class="auth-card-left-section">
                        <div class="auth-card-wrapper">
                            <h2 class="auth-card-subtitle">
                                Welcome to BookReviewer!
                            </h2>
                            <h1 class="auth-card-title">Login</h1>
                            <form class="auth-card-form-container">
                                <div class="input-group" id="emailGroup">
                                    <label
                                        for="email"
                                        class="input-text-label hidden"
                                        >Email</label
                                    >
                                    <input
                                        type="email"
                                        id="email"
                                        class="input-text"
                                        placeholder="Email"
                                        autocomplete="email"
                                        required
                                    />
                                    <span class="input-error" id="emailError">Test</span>
                                </div>
                                <div class="input-group" id="passwordGroup">
                                    <label
                                        for="password"
                                        class="input-text-label hidden"
                                        >Password</label
                                    >
                                    <input
                                        type="password"
                                        id="password"
                                        class="input-text"
                                        placeholder="Password"
                                        required
                                    />
                                    <span class="input-error" id="passwordError"></span>
                                </div>
                                <button class="button" type="submit" id="loginButton">
                                    Login
                                </button>
                            </form>
                        </div>
                        <p class="auth-card-tou">
                            Don't have an account?
                            <a href="/register">Sign in</a>
                        </p>
                    </section>
                    <img
                        src="/assets/banner.png"
                        alt="Banner"
                        class="auth-card-img"
                    />
                </div>
            </main>
        </div>
        <script src="/utils/handleNavigate.js"></script>
        <script src="/connections/auth/loginConnection.js"></script>
    </body>
</html>
