<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Sign in</title>
        <link
            rel="apple-touch-icon"
            sizes="180x180"
            href="/public/apple-touch-icon.png"
        />
        <link
            rel="icon"
            type="image/png"
            sizes="32x32"
            href="/public/favicon-32x32.png"
        />
        <link
            rel="icon"
            type="image/png"
            sizes="16x16"
            href="/public/favicon-16x16.png"
        />
        <link rel="manifest" href="/public/site.webmanifest" />
        <link rel="stylesheet" href="/styles/layout/index.css" />
        <link rel="stylesheet" href="/styles/modules/auth/index.css" />
        <script
            src="https://kit.fontawesome.com/3811cdfa76.js"
            crossorigin="anonymous"
        ></script>
    </head>
    <body class="dark-theme">
        <div class="container">
            <header class="header">
                <span
                    class="logo logo--clickable"
                    onclick="handleNavigate('/')"
                >
                    Book<mark>Reviewer</mark>
                </span>
            </header>
            <main class="main-content">
                <div class="auth-card">
                    <section class="auth-card-left-section">
                        <div class="auth-card-wrapper">
                            <h2 class="auth-card-subtitle">
                                Welcome to BookReviewer!
                            </h2>
                            <h1 class="auth-card-title">Sign in</h1>
                            <form class="auth-card-form-container">
                                <div class="step" id="step1">
                                    <div class="input-group" id="emailGroup">
                                        <label
                                            for="email"
                                            class="input-text-label hidden"
                                            >Email</label
                                        >
                                        <input
                                            type="email"
                                            id="email"
                                            class="input-text"
                                            placeholder="Email"
                                            autocomplete="email"
                                            required
                                        />
                                        <span
                                            class="input-error"
                                            id="emailError"
                                        ></span>
                                    </div>
                                    <div class="input-group" id="passwordGroup">
                                        <label
                                            for="password"
                                            class="input-text-label hidden"
                                            >Password</label
                                        >
                                        <input
                                            type="password"
                                            id="password"
                                            class="input-text"
                                            placeholder="Password"
                                            required
                                        />
                                        <span
                                            class="input-error"
                                            id="passwordError"
                                        ></span>
                                    </div>
                                    <div
                                        class="input-group"
                                        id="confirmPasswordGroup"
                                    >
                                        <label
                                            for="confirmPassword"
                                            class="input-text-label hidden"
                                            >Confirm Password</label
                                        >
                                        <input
                                            type="password"
                                            id="confirmPassword"
                                            class="input-text"
                                            placeholder="Confirm Password"
                                            required
                                        />
                                        <span
                                            class="input-error"
                                            id="confirmPasswordError"
                                        ></span>
                                    </div>
                                    <button
                                        class="button"
                                        type="submit"
                                        id="nextButton"
                                    >
                                        Next
                                    </button>
                                </div>
                                <div class="step hidden" id="step2">
                                    <div class="input-group" id="usernameGroup">
                                        <label
                                            for="username"
                                            class="input-text-label hidden"
                                            >Username</label
                                        >
                                        <input
                                            type="text"
                                            id="username"
                                            class="input-text"
                                            placeholder="Username"
                                            autocomplete="username"
                                            required
                                        />
                                        <span
                                            class="input-error"
                                            id="usernameError"
                                        ></span>
                                    </div>
                                    <div
                                        class="input-group"
                                        id="profilePictureGroup"
                                    >
                                        <label
                                            for="profilePicture"
                                            class="input-file-label"
                                        >
                                            <div class="input-file-preview">
                                                <i class="fa-solid fa-plus"></i>
                                                <span
                                                    class="input-file-label-text"
                                                    >Add Profile Picture</span
                                                >
                                            </div>
                                        </label>
                                        <input
                                            type="file"
                                            accept="image/png, image/jpg, image/gif, image/jpeg"
                                            id="profilePicture"
                                            class="input-file"
                                            placeholder="Profile Picture"
                                            onchange="handlePreview('#profilePictureGroup')"
                                        />
                                    </div>
                                    <div class="button-row">
                                        <button
                                            class="button button--bordered"
                                            type="button"
                                            id="backButton"
                                        >
                                            Back
                                        </button>
                                        <button
                                            class="button"
                                            type="button"
                                            id="registerButton"
                                        >
                                            Register
                                        </button>
                                    </div>
                                </div>
                            </form>
                        </div>
                        <p class="auth-card-tou">
                            Already have an account?
                            <a href="/login">Login</a>
                        </p>
                    </section>
                    <img
                        src="/assets/banner.png"
                        alt="Banner"
                        class="auth-card-img"
                    />
                </div>
            </main>
        </div>
        <script src="/utils/handleNavigate.js"></script>
        <script src="/utils/handlePreview.js"></script>
        <script src="/connections/auth/registerConnection.js"></script>
    </body>
</html>
