<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Book Reviewer</title>
        <link
            rel="apple-touch-icon"
            sizes="180x180"
            href="/public/apple-touch-icon.png"
        />
        <link
            rel="icon"
            type="image/png"
            sizes="32x32"
            href="/public/favicon-32x32.png"
        />
        <link
            rel="icon"
            type="image/png"
            sizes="16x16"
            href="/public/favicon-16x16.png"
        />
        <link rel="manifest" href="/public/site.webmanifest" />
        <link rel="stylesheet" href="/styles/layout/index.css" />
        <link rel="stylesheet" href="/styles/modules/auth/index.css" />
        <script
            src="https://kit.fontawesome.com/3811cdfa76.js"
            crossorigin="anonymous"
        ></script>
    </head>
    <body class="dark-theme">
        <div class="container">
            <header class="header">
                <span
                    class="logo logo--clickable"
                    onclick="handleNavigate('/')"
                >
                    Book<mark>Reviewer</mark>
                </span>
            </header>
            <main class="main-content">
                <div class="auth-card">
                    <section class="auth-card-left-section">
                        <div class="auth-card-wrapper">
                            <h2 class="auth-card-subtitle">
                                Welcome to BookReviewer!
                            </h2>
                            <h1 class="auth-card-title">Register</h1>
                            <form action="" class="auth-card-form-container">
                                <div class="input-group" id="usernameGroup">
                                    <label
                                        for="username"
                                        class="input-text-label hidden"
                                        >Username</label
                                    >
                                    <input
                                        type="text"
                                        id="username"
                                        class="input-text"
                                        placeholder="Username"
                                        autocomplete="username"
                                        required
                                    />
                                </div>
                                <div
                                    class="input-group"
                                    id="profilePictureGroup"
                                >
                                    <label
                                        for="profilePicture"
                                        class="input-file-label"
                                    >
                                        <div class="input-file-preview">
                                            <i class="fa-solid fa-plus"></i>
                                            <span class="input-file-label-text"
                                                >Add Profile Picture</span
                                            >
                                        </div>
                                    </label>
                                    <input
                                        type="file"
                                        accept="image/png, image/jpg, image/gif, image/jpeg"
                                        id="profilePicture"
                                        class="input-file"
                                        placeholder="Profile Picture"
                                        onchange="handlePreview()"
                                        required
                                    />
                                </div>
                                <div class="button-row">
                                    <button
                                        class="button button--bordered"
                                        type="submit"
                                        id="registerButton"
                                    >
                                        Back
                                    </button>
                                    <button class="button" type="submit">
                                        Register
                                    </button>
                                </div>
                            </form>
                        </div>
                        <p class="auth-card-tou">
                            Already have an account?
                            <a href="/login">Login</a>
                        </p>
                    </section>
                    <img
                        src="/assets/banner.png"
                        alt="Banner"
                        class="auth-card-img"
                    />
                </div>
            </main>
        </div>
        <script src="/utils/handleNavigate.js"></script>
        <script src="/utils/handlePreview.js"></script>
    </body>
</html>
