@import "../boilerplate/theme";

.input-group {
    display: flex;
    flex-direction: column;
    gap: 5px;

    &.error {
        .input-error {
            display: block;
        }

        .input-text {
            border-color: $error;

            &:focus {
                border-color: $error-focussed;
            }
        }
    }
}

.input-error {
    display: none;
    color: $error;
    font-size: $font-size-sm;
    font-weight: 600;
}

.input-text {
    width: 100%;
    padding: 8px 12px;
    font-family: inherit;
    font-size: $font-size-md;
    border-radius: 8px;

    @media screen and (max-width: $breakpoint-sm) {
        font-size: $font-size-sm;
    }

    &.input-text-area {
        resize: none;
        height: 100px;
    }

    &-label {
        font-size: $font-size-md;
        font-weight: 600;

        &.hidden {
            display: none;
        }

        @media screen and (max-width: $breakpoint-sm) {
            font-size: $font-size-sm;
        }
    }
}

.input-file {
    display: none;

    &-label {
        width: 100%;
        height: 100px;
        font-size: $font-size-md;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        border-radius: 8px;
        cursor: pointer;
    
        @media screen and (max-width: $breakpoint-sm) {
            font-size: $font-size-sm;
        }

        &-text {
            font-size: $font-size-xs;
            font-weight: 600;
        }
    }

    &-preview {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 8px;

        &-img {
            width: 75px;
            height: 75px;
            object-fit: cover;
            border-radius: 8px;
        }
    }
}

@include themify($themes) {
    .input-text {
        background-color: themed($card-bg);
        color: themed($text);
        border: 1px solid themed($border);

        &::placeholder {
            color: themed($text-secondary);
        }

        &:focus {
            outline: none;
            border-color: themed($link);
        }
    }

    .input-file-label {
        background-color: themed($card-bg);
        color: themed($text);
        border: 1px solid themed($border);

        &:hover {
            background-color: themed($hover);
        }
    }
}
