@import "../../boilerplate/theme";

.news {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 40px;
    margin: 40px 0;

    &-title {
        font-size: 36px;
        font-weight: bold;
    }

    &-container {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 20px;
        padding: 0 20px;
    }
}

.article-card {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    padding: 16px 20px;
    border-radius: 16px;

    &-header {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 10px;
    }

    &-title {
        font-size: $font-size-lg;
        font-weight: bold;

        @media screen and (max-width: $breakpoint-md){
            font-size: $font-size-md;
        }

        @media screen and (max-width: $breakpoint-sm){
            font-size: $font-size-sm;
        }
    }

    &-date {
        font-size: $font-size-md;

        @media screen and (max-width: $breakpoint-md){
            font-size: $font-size-sm;
        }

        @media screen and (max-width: $breakpoint-sm){
            font-size: $font-size-xs;
        }
    }

    &-content {
        width: 100%;
        font-size: $font-size-md;

        @media screen and (max-width: $breakpoint-md){
            font-size: $font-size-sm;
        }

        @media screen and (max-width: $breakpoint-sm){
            font-size: $font-size-xs;
        }
    }
}

@include themify($themes) {
    .article-card {
        background-color: themed($card-bg);

        &-date {
            color: themed($text-secondary);
        }
    }
}